.navBar{
    background: none !important;
    color: rgb(209, 209, 209) !important;
}
.navDiv a{
    color: rgb(240, 240, 240) !important;
}

.navDiv nav{
    right: 0px !important;
    margin: 0px 0px 0px auto !important;
    width: 100%;
}
.basic-navbar-nav{
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.bottomLine{
    width: 100%;
    height: 2px;

    background-color: aliceblue;
}
.userBtn{
    background-color: #313442;
    padding: 4px 8px 8px 8px;
    cursor: pointer;
    display: inline-block;
    border-radius: 30px;
    transition: ease-in-out all 0.2s;

}
.userBtn:hover{
    background-color: #7d7f86;
}
.searchBtn{
    background-color: #313442;
    padding: 4px 8px 8px 8px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;    
    transition: ease-in-out all 0.2s;
}
.searchBtn:hover{
    background-color: #7d7f86;
}

.effeliot{
    display: inline-block;
    font-size: 13px;
    margin-right: 18px;
    color: black;
    font-weight: 900;
    border: solid 2px #fff;
    border-radius: 2px;
    color: #fff;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 2px 6px 7px 6px;

    
}


.effeliot:before {
    content: '';
    background: linear-gradient(90deg, rgba(235,81,0,1) 0%, rgba(9,0,230,1) 32%, rgba(217,2,2,1) 69%, rgba(59,242,0,1) 100%); 
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.effeliot:active {
    color: #000
}

.effeliot:active:after {
    background: transparent;
}

.effeliot:hover:before {
    opacity: 1;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}