.backDrop{
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 12;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease-in-out all;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.644);
}
.modalDiv{
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 12;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 13;
    transition: 0.5s ease-in-out all;

}
.fadeIn{

    animation: openModal ease-in-out 0.5s forwards;
}
.fadeOut{
    animation: closeModal ease-in-out 0.5s forwards;

}


@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);

    }
    50% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes closeModal {
    0% {

        opacity: 1;
        transform: translateY(0%);

    }
    50% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.modalBoarder{
    padding: 0px 0px 10px 0px;
    margin-top: 10px;
    width: 620px;
    max-width: 100%;
    transition: 0.5s ease-in-out all;
    z-index: 16;
    border-top: aliceblue;
    height: auto;
    border-radius: 0px;
    overflow-y: scroll;
    background-color: rgb(228, 228, 228);
    max-height: 95%;
}

.modalSymbol1{
    text-align: right;
    height: 16%;
    padding: 20px 40px 0px 40px ;
    margin: 0px;
}

.modalSymbol1 h4{
    font-family: Dana1;
    color: #001847;
        margin: 0px;
     font-size: 15px;
     padding: 0px 10px 8px 0px;  
}
.modalSymbol{
    text-align: right;
    height: 11%;
    padding: 0px 40px 0px 40px ;
    margin: 0px;
}
.modalSymbol h4{
    font-family: Dana1;
    color: #001847;
    margin: 0px;
    font-size: 15px;
    padding: 0px 10px 3px 0px; 
}
.msg{
    text-align: right;
    padding: 0px 40px 0px 40px; 
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.msg::-webkit-scrollbar {
    display: none;
    
  }
  
.btnsDiv{
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center; 
}
.btnDiv{
    margin-left: auto;
    margin-right: 73px;
}
.btnDiv2{
    margin-left: 73px;
    margin-right: auto;
}
.scaleIn{ transform: scale(1.0);}
.scaleOut{transform: scale(0.0);}

.inputDiv{
    margin-top: 12px;
}
.inputDiv h4{
    padding: 0px 8px 5px 0px !important;
    margin: 0px !important;
    color: #525252;
    font-family: Dana2;
    font-size: 15px;
}







.featureTitle{
    display: inline-block;
    width: 84%;
}

.featureName{
    display: inline-block;
    width: 100%;
}


.addBtnDiv{
    display: inline-block;
    width: 16%;
    padding: 4px 5px 4px 0px;
}



.addBtn{
    background-color: #525252;
    border: none;
    border-radius: 5px;
    transition: ease-in-out 0.2s all;
    padding: 4px 5px 5px 5px;
}





.profDiv{
    display: flex;
    text-align: center;
    margin-top: 30px;

}
.profImg{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.inputUploadDiv{
    padding: 20px 40px 0px 40px;
}


.btnDiv{
    margin-left: auto;
    margin-right: 73px;
}
.btnDiv2{
    margin-left: 73px;
    margin-right: auto;
}
.btnsDiv{
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center; 
}


.closeBtnDiv{
    width: 100%;

}
.closeBtn{
    float: left;
    margin: 12px 0px 0px 10px;
    display: inline-block;
}
.priviewDiv {
    display: inline-block;
     margin-top: 15px;
     margin-right: 20px;

}
.priviewDiv h3{
    font-size: 16px;
    font-weight: 600;

}
.title{
    padding-right: 20px;
    padding-left: 20px;
}
.title h3{
    font-size: 19px;
    font-weight: 600;
    margin-top: 8px;
}
.mainDiv{
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.mainDiv video{
    width: 100%;

}

.listDiv h3{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
}
.listDiv {
    margin-top: 20px;
    width: 100%;

    padding: 0px 20px 0px 20px;
}
.listDiv ul{
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.listDiv li{
    margin-top: 3px;
    padding: 4px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.listDiv li:hover{
    background-color: #cecece;
    padding: 4px;
}
.res{
    background-size: cover;
    max-width: 100px !important;
}
.priviewImageDiv{
    display: inline-block;
}
.videoTitleDiv{
    font-size: 19px;
    font-weight: 600;
    display: inline-block;
}
.videoTitleDiv h4{
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
.timing{
    display: inline-block;
    float: left;
    margin-top: 17px;
}
.timing h4{
    font-size: 16px;
    font-weight: 600;
   
}